.card_collection {
  overflow: scroll;
  position: absolute;
  z-index: 999;
  padding-top: 64px;
  width: 100vw;
}

.card {
  margin: 2rem;
  max-width: 400px;
}

.card_image {
  max-height: 40vh;
}

.card_description {
  margin-bottom: 1rem;
  font-size: 16px !important;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
