.project_links{
  background: rgb(12, 11, 11);
  border-top-left-radius: 1rem;
  padding: .3rem;
  width: 5rem;
  margin-top: 10rem;
}

.project_links a{
  color: #fff;
  font-size: 1.5rem;
}

.background{
  width: 15rem;
  border: 5px solid rgb(12, 11, 11);
  border-radius: 1rem;
}

.title{
  margin-bottom: 1rem;
}

.description{
  max-width: 20rem;
  height: 2rem;
}
/* slider */

.slider {
  background: rgba(128, 128, 128, 0.4);
  height: 80vh;
  width: 100vw;
  border-radius: 3rem;
}

.inner_slide{
  /* background: black; */
}

.slide {
   max-width: 30rem;
   min-width: 15rem;
}

.dotsContainer {
  width: 100%;
  text-align: center;
}

.dot {
  background: rgb(12, 11, 11);
  padding: 0px 8px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 120px;
}

.isCurrent {
  background: #fff;
}

.nextArrow {
  color: #fff;
  position: absolute;
  top: 50vh;
  right: 1vh;
}

.backArrow {
  color: #fff;
  position: absolute;
  top: 50vh;
  left: 1vh;
}

@media screen and (min-width: 500px){
  .backArrow:hover {
    opacity: 0.5;
    transform: scale(1.4);
    transition: all ease-in .1s;
  }
  
  .nextArrow:hover {
    opacity: 0.5;
    transform: scale(1.4);
    transition: all ease-in .1s;
  }

  .project_links a, .nextArrow, .backArrow{
    cursor: pointer;
    transition: all ease-in .1s;
  }

  .project_links a:hover {
    transform: scale(1.4);
    transition: all ease-in .1s;
  }
  
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

