.card_collection {
  overflow: scroll;
  position: absolute;
  z-index: 999;
  padding-top: 64px;
  width: 100vw;
}

.card {
  margin: 2rem;
  max-width: 400px;
}

.card_description {
  height: 150px;
}

.card_image {
  height: 300px;
}

@media screen and (max-width: 600px) {
  .card_image {
    height: 200px;
  }

  .card_description {
    display: block;
    margin-bottom: 1rem;
  }
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
