/*contact page===============================*/

.contact{
  position: fixed;
  margin: 5% auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  top: 30%;
  -webkit-animation: floater 5s infinite ease-in-out;
          animation: floater 5s infinite ease-in-out;
}

.moon{
  background-color: black;
  border: 1px solid yellow;
  color: yellow;
  background: -webkit-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url('../assets/moon.png');
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url('../assets/moon.png');
  background-position: center;
  background-size: cover;
  border-radius: 10rem;
  padding: 3.5rem 5rem 3.5rem 5rem;
}

.contact div span{
  margin: 0 .5rem 0 .5rem;
}

@-webkit-keyframes floater{
  0%{top: 20%;}
  50%{top: 23%;}
  100%{ top: 20%; }
}

@keyframes floater{
  0%{top: 19%;}
  50%{top: 22%;}
  100%{ top: 19%; }
}