/*contact page===============================*/

.contact{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  top: 30%;
  -webkit-animation: floater 5s infinite ease-in-out;
          animation: floater 5s infinite ease-in-out;
}

.moon{
  background-color: black;
  color: yellow;
  background: url('../assets/moon.png');
  background-position: center;
  background-size: cover;
  border-radius: 10rem;
  padding: 2.7rem 4rem 2.7rem 4rem;
}

.visibility2{
  background: -webkit-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 0 .5rem .5rem .5rem;
  border-radius: 1.5rem;
}

.contact div span{
  margin: 0 .5rem 0 .5rem;
}

@-webkit-keyframes floater{
  0%{top: 28%;}
  50%{top: 25%;}
  100%{ top: 28%; }
}

@keyframes floater{
  0%{top: 28%;}
  50%{top: 25%;}
  100%{ top: 28%; }
}
@media screen and (min-height: 1200px){

  @-webkit-keyframes floater{
    0%{top: 28%;}
    50%{top: 25%;}
    100%{ top: 28%; }
  }

  @keyframes floater{
    0%{top: 35%;}
    50%{top: 32%;}
    100%{ top: 35%; }
  }
}

@media screen and (min-height: 1000px){
  
    @-webkit-keyframes floater{
      0%{top: 28%;}
      50%{top: 25%;}
      100%{ top: 28%; }
    }
  
    @keyframes floater{
      0%{top: 35%;}
      50%{top: 32%;}
      100%{ top: 35%; }
    }
  }

@media screen and (max-width: 400px){
  .moon{
    padding: 3rem 4rem 3rem 4rem;
  }
}