/*contact page===============================*/

.contact{
  position: fixed;
  border-radius: 100%;
  border: 1px solid yellow;
  top: 30%;
  background-color: black;
  color: yellow;
  background-color: rgba(0,0,0,0.6);
  padding: 3rem 6rem 4rem 6rem;
}

.contact div span{
  margin: 0 .5rem 0 .5rem;
}