/*contact page===============================*/

.gravity{
  position: fixed;
  -webkit-animation: floating 5s infinite ease-in-out;
          animation: floating 5s infinite ease-in-out;
}

h1{
  font-family: 'Russo One', sans-serif;
}

.earth{
  background-color: black;
  color: yellow;
  background: url('../assets/earth.png');
  background-position: center;
  background-size: cover;
  border-radius: 10rem;
  padding: 5.5rem 3.2rem 5.5rem 3.2rem;
}

.visibility{
  background: -webkit-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: .7rem;
  border-radius: 10rem;
}

.contact div span{
  margin: 0 .5rem 0 .5rem;
}

@-webkit-keyframes floating{
  0%{top: 25%;}
  50%{top: 22%;}
  100%{ top: 25%; }
}

@keyframes floating{
  0%{top: 25%;}
  50%{top: 22%;}
  100%{ top: 25%; }
}

@media screen and (min-height: 525px){
  @-webkit-keyframes floating{
    0%{top: 30%;}
    50%{top: 27%;}
    100%{ top: 30%; }
  }
  
  @keyframes floating{
    0%{top: 30%;}
    50%{top: 27%;}
    100%{ top: 30%; }
  }
}

@media screen and (min-height: 1200px){

  @-webkit-keyframes floating{
    0%{top: 28%;}
    50%{top: 25%;}
    100%{ top: 28%; }
  }

  @keyframes floating{
    0%{top: 35%;}
    50%{top: 32%;}
    100%{ top: 35%; }
  }
}

@media screen and (min-height: 1000px){
  
    @-webkit-keyframes floating{
      0%{top: 28%;}
      50%{top: 25%;}
      100%{ top: 28%; }
    }
  
    @keyframes floating{
      0%{top: 35%;}
      50%{top: 32%;}
      100%{ top: 35%; }
    }
  }

@media screen and (max-width: 400px){
  .earth{
      padding: 4.2rem 1.3rem 4.2rem 1.3rem;
  }
}