html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  /* width: 100vw;
  height: 100vh; */
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

li{
  list-style: none;
}

ul{
  margin: 0px;
  padding: 0px;
}

a {
  color:white;
}

header{
  /* width: 100%;
  position:fixed;
  top:0;
  z-index: 1; */
  position: relative;
  z-index: 100;
  left: 0;
  width: 100%;
  height: 8%;
}

footer{
	width: 100%;
	position:fixed;
  bottom:0;
  min-height: 8%;
}

.text-end{
  text-align: end;
}
.menu{
  background-size: contain; 
  /* background-color: rgba(0,0,0,0.5); */
  border-radius: 100%;
  margin: 1rem;
  min-width: 2rem;
  cursor: pointer;
  transition: all ease-in .1s;
}

.menu:hover {
  transform: scale(1.4);
  transition: all ease-in .1s;
}

.menu span{
  color: yellow;
}

.notFound{
  margin-top: 5rem;
}

body{
  background-image: url('./assets/dark_space.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-animation: animatedBackground 100s linear infinite;
          animation: animatedBackground 100s linear infinite;
}

@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -2336px 0; }
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -2336px 0; }
}

/*typography*/

.white{
  color:white;
}

.yellow{
  color: yellow;
}

.line-height{
  line-height: 200%;
}

/*queries==============================*/
@media screen and (min-width: 600px) {
  .icons{
    max-width: 60%;
  }

  .icons div{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about_box {
    max-width: 50%;
  }
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */









