/*projects=================================================*/
.projects{
  position: fixed;
  top: 4rem;
  bottom: 4rem;
  width: 100%;
  max-height: 100vh;

}

.project_links{
  background: rgba(223, 3, 3, 0.8);
  border-radius: 2rem;
  padding: 1rem;
}

.project_links a{
  padding: 0 1rem 0 1rem;
  cursor: pointer;
  transition: all ease-in .1s;
  color: #fff;
}

.square_for_padding{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  /* transform: rotate(90deg); */
}

.project_links a:hover {
  transform: scale(1.4);
  transition: all ease-in .1s;
}

.background{
  padding: 20% 30% 20% 30%;
  border: 5px solid rgb(63, 62, 62);
  border-radius: 1rem;
  background-size: cover;
  background-position: center top;
}

.project_links{
  width: 10rem;
}

.project_box{
  width: 70%;
  max-width: 30rem;
  /* background-color: rgba(110, 113, 114, 0.5); */
  background:  rgba(192, 192, 192,0.6);
  /* border: 2px solid yellow; */
  border-radius: 1.5rem;
  padding-bottom: 4rem;
}

.title{
  min-height: 4rem;
}

/* slider */

.slider {
  height: 100%;
  width: 100%;
  /* background: #ddd; */
  position: absolute;
}

.slide {
  height: 74%;
  width: 100%;
}

.dotsContainer {
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: center;
  z-index: 99999;
}

.dot {
  background: #222;
  padding: 0px 8px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 120px;
}

.isCurrent {
  background: #fff;
}


.nextArrow {
  position: absolute;
  top: 50%;
  right: 5%;
  cursor: pointer;
  transition: all ease-in .1s;
  color: #fff;
}

.nextArrow:hover {
  opacity: 0.5;
  transform: scale(1.4);
  transition: all ease-in .1s;
}


.backArrow {
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
  color: #fff;
  transition: all ease-in .1s;
}
.backArrow:hover {
  opacity: 0.5;
  transform: scale(1.4);
  transition: all ease-in .1s;
}

/* .project{
  background-color: rgba(110, 113, 114, 0.5);
  position: relative;
  border: 2px solid yellow;
  border-radius: 1.5rem;
  color: white;
  line-height: 200%;
  margin: 1rem;
  padding: 2rem;
  max-width: 50%;
} */