/*projects=================================================*/

h3{
  font-family: 'Russo One', sans-serif;
}

.project_links{
  background: rgba(63, 62, 62, 0.9);
  padding: .3rem;
  width: 5rem;
}

.project_links a{
  color: #fff;
  font-size: 1.5rem;
}

.background{
  padding: 40% 0 0 35%;
  border: 5px solid rgb(63, 62, 62);
  border-radius: 1rem;
}

.project_box{
  padding: 15% .5rem 15% .5rem;
  margin-top: -3rem;
  height: 100%;
  width: 100%;
  /* background-color: rgba(110, 113, 114, 0.5); */
  /* background:  rgba(192, 192, 192,0.6); */
  /* border: 2px solid yellow; */
  border-radius: 1.5rem;
  /* padding-bottom: 2.5rem; */
  margin-bottom: 1rem;
}

.title{
  min-height: 1.5rem;
}

.description{
  max-width: 20rem;
}
/* slider */

.slider {
  height: 130vh; 
  width: 100%;
}

.slide {
   height: 80vh;
   max-width: 30rem;
   min-width: 15rem;
}

.dotsContainer {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  text-align: center;
  z-index: 99999;
}

.dot {
  background: #222;
  padding: 0px 8px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 120px;
}

.isCurrent {
  background: #fff;
}


.nextArrow {
  position: absolute;
  bottom: 12vh;
  right: 5%;
  z-index: 99999;
  color: #fff;
}


.backArrow {
  position: absolute;
  bottom: 12vh;
  left: 5%;
  z-index: 99999;
  color: #fff;
}

@media screen and (min-width: 600px){
  .backArrow:hover {
    opacity: 0.5;
    /* transform: scale(1.4); */
    transition: all ease-in .1s;
  }
  
  .nextArrow:hover {
    opacity: 0.5;
    /* transform: scale(1.4); */
    transition: all ease-in .1s;
  }

  .project_links a, .nextArrow, .backArrow{
    cursor: pointer;
    transition: all ease-in .1s;
  }

  .project_links a:hover {
    transform: scale(1.4);
    transition: all ease-in .1s;
  }

  h3{
    font-size: 2rem;
  }
  
}