header{
  height: 5vh;
  position: fixed !important;
  z-index: 9999 !important;
}
  
footer{
  width: 100%;
  position: fixed;
  bottom:0;
  height: 10vh;
  z-index: 9999;
}

.copyright{
    padding-top: 1rem;
}

.fontAwesome{
  width: 3rem;
  padding: 1.5rem 0 1.5rem 0;
  color: yellow;
}

.copyright_contact{
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100%;
}

