header{
    height: 10vh;
  }
  
footer{
  width: 100%;
  position: absolute;;
  bottom:0;
  min-height: 8%;
}

main{
  height: 90vh;
  overflow: hidden;
}

.copyright{
    position: fixed;
    bottom: 0;
    width: 100%;
}