.about {
  padding-top: 64px;
  max-height: 120vh;
  overflow: auto;
}

.title_earth {
  z-index: 999;
  padding: 64px 1rem 64px 0.5rem;
}

.about_view_container {
  color: white;
  padding: 0 5% 5% 5%;
  overflow: auto;
  opacity: 1;
}

.about_background {
  background: #292f33;
  position: relative;
  z-index: 999;
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 20px;
  max-width: 400px;
}

.earth {
  background-color: black;
  background: url('../../assets/earth.png');
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  position: relative;
  z-index: 999;
}

.moon img {
  width: 1rem;
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg);
  position: relative;
  z-index: 999;
  top: 15px;
  -webkit-animation: myOrbit 17s linear infinite;
  animation: myOrbit 17s linear infinite;
}

.skills i {
  padding: 1rem;
  z-index: 999;
  font-size: 2rem;
}

@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translate(-300%) rotate(-360deg);
    transform: rotate(0deg) translate(-300%) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-300%) rotate(-360deg);
    transform: rotate(360deg) translate(-300%) rotate(-360deg);
  }
}

@keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translate(-300%) rotate(-360deg);
    transform: rotate(0deg) translate(-300%) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-300%) rotate(-360deg);
    transform: rotate(360deg) translate(-300%) rotate(-360deg);
  }
}

@media screen and (min-width: 400px) {
  .about_view_container {
    padding: 0 12% 0 12%;
  }

  .about_background {
    padding: 1rem 2rem 2rem 2rem;
  }

  .earth {
    height: 4rem;
    width: 4rem;
  }

  .moon img {
    width: 1.5rem;
  }

  .title_earth {
    padding: 3rem 1rem 3rem 0.5rem;
  }
}

@media screen and (min-width: 600px) {
  .title_earth {
    padding: 2rem 1rem 2rem 0.5rem;
  }

  .about_view_container {
    padding: 0 20% 0 20%;
  }

  .about_background {
    padding: 2rem 3rem 3rem 3rem;
  }

  .earth {
    height: 4.5rem;
    width: 4.5rem;
  }

  .moon img {
    width: 1.7rem;
    top: 25px;
  }

  .title_earth {
    padding: 4rem 1rem 4rem 0.5rem;
  }
}
