/*home====================================*/
.skills div{
  margin: .2rem;
  padding: .2rem;
}

i{
  font-size: 2rem;
}

.about_view_container{
  color: white;
  background: black;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  position: relative;
  top: 5%;
  overflow: auto;
  width: 500px;
}

.about_box{
  width: 100vw;
  position: fixed;
  z-index: 999;
}

.red_button{
  background: red;
  padding: .5rem;
  border-radius: .5rem;
  width: 8rem;
  margin-bottom: 1rem; 
}
