.home_page{
	height: 100vh;
	width: 100vw;
}

.mars{
  background-color: black;
  background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../../assets/mars.png');
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-top: -5rem;
  margin-left: -5rem;
  height: 10rem;
  width: 10rem;
  position: absolute;
  z-index: 999;
  top: 40%;
}

.name{
	font-size: 1.4rem;
	padding-top: 2.5rem;
}

/* ===ROCKET ANIMATION=== */

.rocket img{
	width: 3.2rem;
	margin: -.2rem;
  	-webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.rocket {
  position: absolute;
  z-index: 999;
  top: 38%;
  -webkit-animation: myOrbit 10s linear infinite;
          animation: myOrbit 10s linear infinite;
}

@-webkit-keyframes myOrbit{
	from {
		-webkit-transform: rotate(0deg)
		           translate(-300%)
		           rotate(-360deg);
		        transform: rotate(0deg)
		           translate(-300%)
		           rotate(-360deg);
	}
	to {
		-webkit-transform: rotate(360deg)
		           translate(-300%) 
		           rotate(-360deg);
		        transform: rotate(360deg)
		           translate(-300%) 
		           rotate(-360deg);
	}
}

@keyframes myOrbit{
	from {
		-webkit-transform: rotate(0deg)
		           translate(-300%)
		           rotate(-360deg);
		        transform: rotate(0deg)
		           translate(-300%)
		           rotate(-360deg);
	}
	to {
		-webkit-transform: rotate(360deg)
		           translate(-300%) 
		           rotate(-360deg);
		        transform: rotate(360deg)
		           translate(-300%) 
		           rotate(-360deg);
	}
}