.home_page {
  height: 100vh;
  width: 100vw;
}

.mars {
  background-color: black;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.15)),
      to(rgba(0, 0, 0, 0.15))
    ),
    url('../../assets/mars.png');
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url('../../assets/mars.png');
  background: -o-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url('../../assets/mars.png');
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url('../../assets/mars.png');
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-top: -5rem;
  margin-left: -5rem;
  height: 10rem;
  width: 10rem;
  position: fixed;
  z-index: 999;
  top: 50%;
  -webkit-animation: floater 4s infinite ease-in-out;
  animation: floater 4s infinite ease-in-out;
}

@-webkit-keyframes floater {
  0% {
    top: 50%;
  }
  50% {
    top: 52%;
  }
  100% {
    top: 50%;
  }
}

@keyframes floater {
  0% {
    top: 50%;
  }
  50% {
    top: 52%;
  }
  100% {
    top: 50%;
  }
}

.name {
  font-size: 1.4rem;
  padding-top: 2.5rem;
}

/* ===ROCKET ANIMATION=== */

.rocket img {
  width: 3.2rem;
  margin: -0.2rem;
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
}

.rocket {
  position: fixed;
  z-index: 999;
  top: 47%;
  -webkit-animation: myOrbit 10s linear infinite;
  animation: myOrbit 10s linear infinite;
}

.make_clickable {
  cursor: pointer;
}

@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translate(-300%) rotate(-360deg);
    transform: rotate(0deg) translate(-300%) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-300%) rotate(-360deg);
    transform: rotate(360deg) translate(-300%) rotate(-360deg);
  }
}

@keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translate(-300%) rotate(-360deg);
    transform: rotate(0deg) translate(-300%) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-300%) rotate(-360deg);
    transform: rotate(360deg) translate(-300%) rotate(-360deg);
  }
}

@media screen and (min-width: 600px) {
  .mars {
    margin-top: -7rem;
    margin-left: -7rem;
    height: 14rem;
    width: 14rem;
    top: 50%;
  }

  .name {
    font-size: 2.2rem;
    padding-top: 3.5rem;
  }

  .rocket img {
    width: 3.9rem;
    margin: 0.1rem;
  }

  .rocket {
    top: 46%;
  }
}
