.home_page {
  height: 100vh;
  width: 100vw;
}

.mars_img {
  border-radius: 100%;
  margin-top: -5.5rem;
  margin-left: -5.5rem;
  height: 11rem;
  width: 11rem;
}

.home-animation {
  position: fixed;
  z-index: 999;
  left: 50%;
  -webkit-animation: floater 4s infinite ease-in-out;
  animation: floater 4s infinite ease-in-out;
}

.name {
  position: absolute;
  top: -50%;
  width: 14rem;
  margin-left: -7rem;
  font-size: 1.9rem;
}

@-webkit-keyframes floater {
  0% {
    top: 50%;
  }
  50% {
    top: 52%;
  }
  100% {
    top: 50%;
  }
}

@keyframes floater {
  0% {
    top: 50%;
  }
  50% {
    top: 52%;
  }
  100% {
    top: 50%;
  }
}

/* ===ROCKET ANIMATION=== */

.rocket img {
  width: 3.2rem;
  margin: -0.2rem;
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
}

.rocket {
  position: fixed;
  z-index: 999;
  top: 50%;
  -webkit-animation: myOrbit 10s linear infinite;
  animation: myOrbit 10s linear infinite;
}

.make_clickable {
  cursor: pointer;
}

@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translate(-300%) rotate(-360deg);
    transform: rotate(0deg) translate(-300%) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-300%) rotate(-360deg);
    transform: rotate(360deg) translate(-300%) rotate(-360deg);
  }
}

@keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translate(-300%) rotate(-360deg);
    transform: rotate(0deg) translate(-300%) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-300%) rotate(-360deg);
    transform: rotate(360deg) translate(-300%) rotate(-360deg);
  }
}

@media screen and (min-width: 600px) {
  .mars_img {
    margin-top: -6.5rem;
    margin-left: -6.5rem;
    height: 13rem;
    width: 13rem;
  }

  .rocket img {
    width: 3.9rem;
    margin: 0.1rem;
  }

  .rocket {
    top: 50%;
  }

  .name {
    font-size: 2.2rem;
  }
}
