/*contact page===============================*/

.contact{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: floater 4s infinite ease-in-out;
          animation: floater 4s infinite ease-in-out;
}

.earth{
  background-color: black;
  color: yellow;
  background: url('../../assets/earth.png');
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-top: -5.5rem;
  margin-left: -5.5rem;
  height: 11rem;
  width: 11rem;
}

.contact_title{
  font-size: 1.5rem;
  margin: 1.5rem 0 0 0;
}

.contact div span{
  margin: 0 .5rem 0 .5rem;
}

@-webkit-keyframes floater{
  0%{top: 48.5%;}
  50%{top: 51.5%;}
  100%{ top: 48.5%; }
}

@keyframes floater{
  0%{top: 48.5%;}
  50%{top: 51.5%;}
  100%{ top: 48.5%; }
}

/* ===ROCKET ANIMATION=== */

.moon{
  background: -webkit-linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.10));
  background: linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.10));
}

.moon img{
  position:relative;
  z-index: -1;
  width: 3rem;
  padding: -.2rem;
  -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
}

.animate2 {
  position: absolute;
  top: 47%;
  -webkit-animation: myOrbit 17s linear infinite;
          animation: myOrbit 17s linear infinite;
}

@-webkit-keyframes myOrbit{
	from {
		-webkit-transform: rotate(0deg)
		           translate(-300%)
		           rotate(-360deg);
		        transform: rotate(0deg)
		           translate(-300%)
		           rotate(-360deg);
	}
	to {
		-webkit-transform: rotate(360deg)
		           translate(-300%) 
		           rotate(-360deg);
		        transform: rotate(360deg)
		           translate(-300%) 
		           rotate(-360deg);
	}
}

@keyframes myOrbit{
	from {
		-webkit-transform: rotate(0deg)
		           translate(-300%)
		           rotate(-360deg);
		        transform: rotate(0deg)
		           translate(-300%)
		           rotate(-360deg);
	}
	to {
		-webkit-transform: rotate(360deg)
		           translate(-300%) 
		           rotate(-360deg);
		        transform: rotate(360deg)
		           translate(-300%) 
		           rotate(-360deg);
	}
}

@media screen and (min-width: 420px){
	.earth{
    margin-top: -7rem;
    margin-left: -7rem;
    height: 14rem;
    width: 14rem;
	}

	.moon img{
    width: 4rem;
    padding: .2rem;
	}
  
  .contact_title{
    font-size: 2rem;
  }

  .visibility2{
    margin-top: 1.2rem;
    padding: 0 .5rem 1rem .5rem;
    border-radius: 2rem;
    display: inline-block;
  }

  .moon img{
    width: 4rem;
    padding: .2rem;
  }
}