.glfuN, .xyYJS, .fhAWVE, .jgMjlR{
    background: rgb(66, 66, 66) !important;
}

.fMcZCH {
    background: yellow !important;
    color: black !important;
}

.biAEAb {
    background: rgba(128, 128, 128, 0.4) !important;
}

.jwPUxT{
    background: rgba(128, 128, 128, 0.4) !important;
}
    
.fXnVhZ:focus{
    font-size: 17px !important;
}