.glfuN,
.xyYJS,
.fhAWVE,
.jgMjlR {
  background: #292f33 !important;
}

.fMcZCH {
  background: yellow !important;
  color: black !important;
}

.biAEAb {
  background: #292f33 !important;
  right: 20px !important;
  bottom: 20px !important;
}

.jwPUxT {
  background: #292f33 !important;
}

.fXnVhZ:focus {
  font-size: 17px !important;
}
