.bot{
    position: absolute !important;
    bottom: 0;
    z-index: 100000000000;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.gbRSBZ{
    position: absolute;
    bottom: 0;
    z-index: 100000000000;

}

.glfuN, .xyYJS, .fhAWVE, .jgMjlR {
    background: rgb(66, 66, 66) !important;
}

.fMcZCH {
    background: yellow !important;
    color: black !important;
}

.biAEAb {
    background: rgba(128, 128, 128, 0.4) !important;
    position: absolute !important;
    bottom: 0;
}
    
.fXnVhZ:focus{
    font-size: 17px;
}