html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: 'PT Sans', sans-serif;
  position: fixed;
  z-index: -999;
}

html {
  overflow: hidden;
  height: 100%;
}

h1, h2 {
  font-family: 'Russo One', sans-serif;
  text-shadow: 4px 4px black;
}

li{
  list-style: none;
}

ul{
  margin: 0px;
  padding: 0px;
}

a {
  color:white;
  text-decoration: none;
}

.text-end{
  text-align: end;
}

.menu{
  background-size: contain; 
  border-radius: 100%;
  margin: 1rem;
  min-width: 2rem;
  color: yellow;
}

body{
  background-image: url('./assets/dark_space.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  -webkit-animation: animatedBackground 200s linear infinite;
          animation: animatedBackground 200s linear infinite;
}

@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -5336px 0; }
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -5336px 0; }
}

/*typography*/

.white{
  color:white;
}

.black{
  color: black;
}

.yellow{
  color: yellow;
}

.line-height{
  line-height: 200%;
}

/*queries==============================*/
@media screen and (min-width: 600px) {
  .icons{
    max-width: 60%;
  }

  .icons div{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about_box {
    max-width: 50%;
  }
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */









