body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
	color: white;
  width: 100%;
  position:fixed;
  top:0;
}

footer{
	color: white;
	width: 100%;
	position:fixed;
  bottom:0;
}

.menu{
  background-color: rgba(0,0,0,0.5);
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem;
  min-width: 2rem;
}

.menu span{
  color: yellow;
}

body{
  background-image: url("assets/milky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

/*#landing{
  overflow: hidden;
}*/

/*home====================================*/

#menu{
  position: fixed;
  top: 20%;
  bottom: 20%;
  width: 100%;
}

.menu_box{
  width: 70%;
  padding: 0 2rem 2rem 2rem;
  background-color: black;
  border: 1px solid yellow;
  border-radius: 5rem;
  color: yellow;
  background-color: rgba(0,0,0,0.6);
}

#button{
	background-color: grey;
	padding: .5rem;
	width: 40%;
}

.skills{
  width: 90%;
}

.skills div{
  padding: .2rem;
}

/*Home page*/

#spaceship img{
	position: fixed;
	top: 80%;
	height: 10%;
}

#launch_button{
  background-color: rgba(0,0,0,0.6);
  color: yellow;
  font-size: 2rem;
  border: 1px solid yellow;
  position: fixed;
  top: 40%;
  color: white;
  padding: 3rem 6rem 3rem 6rem;

}

#alien_station{
  width: 100%;
  height: 50%;
  position: fixed;
  top: 30%;
}

.icons{
  font-size: 2rem;
	color: white;
}

i{
	font-size: 2rem;
	color:white;
}

.position{
  margin: 2rem;
}
/*projects=================================================*/
.projects{
  position: fixed;
  top: 12%;
  width: 100%;
  min-height: 5rem;
  max-height: 34rem;
  overflow: auto;
}

.projects div{
  max-width: 70rem;
}

.project{
  background-color: rgba(0,0,0,0.6);
  border: 1px solid yellow;
  border-radius: 3rem;
  color: white;
  padding: 2rem;
  margin: 2rem;
  width: 15rem;
}

.project_space{
  height: 10rem;
}

/*typography*/

.white{
  color:white;
}

.yellow{
  color: yellow;
}

/*contact page===============================*/

.contact{
  position: fixed;
  border-radius: 100%;
  border: 1px solid yellow;
  top: 30%;
  background-color: black;
  color: yellow;
  background-color: rgba(0,0,0,0.6);
  padding: 3rem 6rem 4rem 6rem;
}

.contact div span{
  margin: 0 .5rem 0 .5rem;
}

/*queries==============================*/
@media screen and (min-width: 600px) {
  .icons{
    max-width: 60%;
  }

  .icons div{
    align-items: center;
  }

  .about_box {
    max-width: 50%
  }
}

/*animation========================*/

.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
/*    margin-left: 30px;
    margin-top: 5px;
*/
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 200px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 200px);}
    to {-moz-transform: translate(0, -0px);}    
}



